doctype html
html
  head
    meta(charset="utf-8")
    title Login — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="/login/index.css")

  body
    .server-header
      img.server-icon(src="/images/icon.png")
      .server-name
    .connecting
      p= t("common:states.connecting")
    form.login(hidden)
      .welcome= t("login:welcome")
    
      table.properties
        tr(hidden)
          th= t("login:password")
          td
            input.server-password(type="password",placeholder="Password",autofocus)
        tr
          th= t("login:username")
          td
            // NOTE: The pattern and min/max lengths must match the regex in server/authenticate.ts
            input.username(type="text",placeholder="Your username",spellcheck="false",minlength="3",maxlength="20",pattern="[A-Za-z0-9_-]+",title=t("login:usernamePatternDescription"))

      .buttons
        button.log-in= t("login:logIn")

    a(href="http://superpowers-html5.com/",target="_blank").server-footer
      | Superpowers — HTML5 2D+3D game maker

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="/login/index.js")
