doctype html
html
  head
    title Project — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/resizeHandle.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/project/index.css")

  body
    .sidebar
      .project-management
        .project-icon
          button(title=t("project:header.goToHub")).go-to-hub
        .project-name= t("common:states.loading")
        .project-buttons
          button(title=t("project:header.publish"),disabled).publish
          button(title=t("project:header.stop"),disabled).stop
          button(title=t("project:header.debug"),disabled).debug
          button(title=t("project:header.run"),disabled).run

      .entries-buttons.flat-button-strip
        button(title=t("project:treeView.newAsset.title"),disabled,data-hotkey="control+N").new-asset
        button(title=t("project:treeView.newFolder.title"),disabled,data-hotkey="control+shift+N").new-folder
        button(title=t("common:actions.rename"),disabled,data-hotkey="F2").rename-entry.single.edit
        button(title=t("common:actions.duplicate"),disabled,data-hotkey="control+D").duplicate-entry.single.asset-only.edit
        button(title=t("project:treeView.trash.title"),disabled,data-hotkey="delete").trash-entry.edit
        button(title=t("common:actions.search"),disabled,data-hotkey="control+O").search
      .entries-tree-view
        .connecting
          div= t("common:states.connecting")
      .tools
        ul
    .resize-handle.left
    .main
      .top
        .tabs-bar
        .controls
          button.toggle-notifications
          button.minimize
          button.maximize
          button.close
      .panes

    script.
      // We want to apply this class before the first render
      // to avoid having the window borders flashing
      if (window.navigator.userAgent.indexOf("Electron") === -1) document.body.classList.add("browser");
    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="/project/index.js")
