doctype html
html
  head
    title Project — Superpowers
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/project/index.css")

  body
    .sidebar
      .project-management
        .project-icon
          button(title="Go to hub").go-to-hub
        .project-name=t("project:header.loading")
        .project-buttons
          button(title=t("project:header.publish"),disabled).publish
          button(title=t("project:header.stop"),disabled).stop
          button(title=t("project:header.debug"),disabled).debug
          button(title=t("project:header.run"),disabled).run

      .entries-buttons.flat-button-strip
        button(title=t("project:treeView.newAsset.title"),disabled).new-asset
        button(title=t("project:treeView.newFolder.title"),disabled).new-folder
        button(title=t("project:treeView.rename.title"),disabled).rename-entry.single.edit
        button(title=t("project:treeView.duplicate.title"),disabled).duplicate-entry.single.asset-only.edit
        button(title=t("project:treeView.trash.title"),disabled).trash-entry.edit
        button(title=t("project:treeView.search.title"),disabled).search
      .entries-tree-view
        .connecting
          divt("project:treeView.connecting")
      .tools
        ul
    .main
      .top
        .tabs-bar
        .controls
          button.toggle-notifications
          button.minimize
          button.maximize
          button.close
      .panes

    script.
      // We want to apply this class before the first render
      // to avoid having the window borders flashing
      if (window.navigator.userAgent.indexOf("Electron") === -1) document.body.classList.add("browser");
    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="/project/index.js")
